[Desktop Entry]
Encoding=UTF-8
Name=MinecraftCoin
Comment=MinecraftCoin P2P Cryptocurrency
Comment[fr]=MinecraftCoin, monnaie virtuelle cryptographique pair à pair
Comment[tr]=MinecraftCoin, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/minecraftcoin-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/minecraftcoin;
Categories=Office;
